# Core App & UI
streamlit>=1.30.0
requests
python-dotenv

# Data Handling
pandas
numpy

# Audio & Speech
soundfile
librosa
openai-whisper
gTTS

# Image Processing
Pillow
opencv-python

# LLM + RAG
langchain
langchain-community
langchain-text-splitters
langchain-ollama
chromadb

# ML / Vision Model
tensorflow>=2.13
keras
